{% extends 'index.html' %}

{% load static %}

{% block dynamicCode %}
  <h1>About us</h1>
  <img src="{% static 'Posts/img/founder.jpeg' %}" alt='founde picture'/>
  <p>Stefanny Fracica started The Cucine Blog to create a community to share cooking knowledge, places to eat, interesting recipes and tips. That's why I created this website so that people who love good food can find a safe place to share their experiences.</br>
  During our journey, we have shared with great chefs and connoisseurs of the environment that have driven us more and more to create a community of connoisseurs of good food.</p>
{% endblock %}