{% extends 'index.html' %}

{% load static %}

{% block dynamicCode %}
  <h1>{{ user.get_full_name }} Profile</h1>
  <div style="width: 300px; margin: 3em auto;">
    {% if user.profile.photo %}<img src="{{user.profile.photo.url}}" class="bd-placeholder-img card-img-top" alt="{{user.profile.photo.name}}" width='100%' height='auto' style='object-fit: cover;'/>{% else %}<h3>No photo</h3>{% endif %}
  </div>
  
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Description: {{ user.profile.description }}</p>
    <p>Web page URL: {{ user.profile.web_page_link }}</p>
  


  <div class="d-grid gap-2 col-2 mx-auto mt-5 mb-5">
    <a class="btn btn-light" aria-current="page" href="{% url 'Edit Profile' user.id %}">Edit your Profile</a>
  </div>
{% endblock %}